<template>
  <div id="queue-keywords">
    <div class="row">
      <div class="col-md-12">
        <div class="box box-info">
          <div class="box-header with-border">
            <div class="pull-right">
              <button class="btn btn-info" data-toggle="modal" data-target="#createQueue">Add New</button>
            </div>
            <form class="form-inline"s return="false">
              <div class="form-group">
                <select id="parent-id" class="form-control" v-model="status" @change="refreshTable">
                  <option :value="false">All</option>
                  <option value="queue">On Queue</option>
                  <option value="pause">Paused</option>
                  <option value="complete">Completed</option>
                </select>
              </div>
            </form>
          </div>
          <div class="box-body">
            <table id="queue_keywords-datatables" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>#ID</th>
                  <th>Name</th>
                  <th>Total</th>
									<th>Executed</th>
									<th>Success</th>
									<th>Failed</th>
                  <th></th>
                </tr>
              </thead>
            </table>
          </div>
          <div class="overlay" v-if="process"><i class="fa fa-spinner fa-spin"></i></div>
        </div>
      </div>

      <div id="createQueue" class="modal modal-primary fade" data-backdrop="static" role="dialog" style="overflow-y:visible;">
        <div class="modal-dialog">
          <div class="modal-content">
            <form class="form-horizontal form-bordered" @submit.prevent="createQueue">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" :disabled="process">&times;</button>
                <h4 class="modal-title">New Keywords Queue</h4>
              </div>

              <div class="modal-body">
                <div class="form-group">
                  <label class="control-label col-md-3" for="defaultData-name">Name</label>
                  <div class="col-md-9">
                    <input type="text" id="defaultData-name" class="form-control" v-model="defaultData.name" required>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3" for="defaultData-status">Status</label>
    							<div class="col-md-9">
                    <select id="defaultData-status" class="form-control" v-model="defaultData.status" required>
                      <option value="queue">On Queue</option>
                      <option value="pause">Paused</option>
                    </select>
    							</div>
    						</div>
    						<div class="form-group">
    							<label class="control-label col-md-3" for="defaultData-keywords">Keywords</label>
    							<div class="col-md-9">
    								<textarea id="defaultData-keywords" class="form-control" v-model="defaultData.keywords" rows="10" placeholder="Separate each keyword with new line" required></textarea>
    							</div>
    						</div>
    					</div>

    					<div class="modal-footer">
    						<button type="button" class="btn btn-outline pull-left" data-dismiss="modal" :disabled="process">Close</button>
    						<button type="submit" class="btn btn-outline" :disabled="process">
    							<span v-if="process"><i class="fa fa-refresh fa-spin"></i> Creating...</span>
    							<span v-else>Create</span>
    						</button>
    					</div>
    				</form>
    			</div>
    		</div>
    	</div>

      <div id="updateQueue" class="modal modal-primary fade" data-backdrop="static" role="dialog" style="overflow-y:visible;">
        <div class="modal-dialog">
          <div class="modal-content">
            <form class="form-horizontal form-bordered" @submit.prevent="updateQueue">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" :disabled="process">&times;</button>
                <h4 class="modal-title">Edit Category</h4>
              </div>

              <div class="modal-body">
                <div class="form-group">
                  <label class="control-label col-md-3" for="current-name">Name</label>
                  <div class="col-md-9">
                    <input type="text" id="current-name" class="form-control" v-model="current.name" required>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3" for="current-status">Status</label>
    							<div class="col-md-9">
                    <select id="current-status" class="form-control" v-model="current.status" required>
                      <option value="queue">On Queue</option>
                      <option value="pause">Paused</option>
                    </select>
    							</div>
    						</div>
    					</div>

    					<div class="modal-footer">
    						<button type="button" class="btn btn-outline pull-left" data-dismiss="modal" :disabled="process">Close</button>
    						<button type="submit" class="btn btn-outline" :disabled="process">
    							<span v-if="process"><i class="fa fa-refresh fa-spin"></i> Updating...</span>
    							<span v-else>Update</span>
    						</button>
    					</div>
    				</form>
    			</div>
    		</div>
    	</div>

      <div id="deleteQueue" class="modal modal-danger fade" data-backdrop="static" role="dialog" style="overflow-y:visible;">
        <div class="modal-dialog">
          <div class="modal-content">
            <form class="form-horizontal form-bordered" @submit.prevent="deleteQueue">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" :disabled="process">&times;</button>
                <h4 class="modal-title">Delete SEO Rule</h4>
              </div>
              <div class="modal-body">
                <p>Are you sure, want to delete this Queue <strong class="bg-yellow" v-html="current.name"></strong>?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal" :disabled="process">Close</button>
                <button type="submit" class="btn btn-outline" :disabled="process">
                  <span v-if="process"><i class="fa fa-refresh fa-spin"></i> Deleting...</span>
                  <span v-else>Delete</span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>


    </div>
  </div>
</template>

<script>
  export default {
    data(){
      return {
        dataTables:{},
				current: {},
        defaultData: {
          name: "",
          status: "queue",
          keywords: ""
        },
				status: false,
        process: false,
				type: "keywords",
      }
    },
    mounted(){
      this.loadDataTables();
    },
    methods: {
      createQueue(){
        var post = {
          name: this.defaultData.name,
          status: this.defaultData.status,
          type: this.type,
          keywords: _.split(this.defaultData.keywords,"\n")
        };
        axios.post(window.Laravel.admin_url+'/ajax/post/createQueue',{queue:post}).then(
          response => {
            this.process = false;
            toastr.success("New Queue Added.");
            $("#createQueue").modal("hide");
            this.defaultData.keywords = this.defaultData.name = "";
            this.dataTables.ajax.reload();
          },
          error => {
            this.process = false;
            var message = "Unknown Response."
            if(typeof error.response !== 'undefined' && typeof error.response.data !== 'undefined' && typeof error.response.data.message !== 'undefined')
              message = error.response.data.message;
            toastr.error(message);
          }
        );
      },
      updateQueue(){
        var post = {
          queue_id:this.current.id,
          queue: {
            name: this.current.name,
            status: this.current.status
          }
        };
        axios.post(window.Laravel.admin_url+'/ajax/post/updateQueue',post).then(
          response => {
            this.process = false;
            toastr.success("Queue Updated.");
            $("#updateQueue").modal("hide");
            this.dataTables.ajax.reload();
          },
          error => {
            this.process = false;
            var message = "Unknown Response."
            if(typeof error.response !== 'undefined' && typeof error.response.data !== 'undefined' && typeof error.response.data.message !== 'undefined')
              message = error.response.data.message;
            toastr.error(message);
          }
        );
      },
      deleteQueue(){
        axios.post(window.Laravel.admin_url+'/ajax/post/deleteQueue',{queue_id:this.current.id}).then(
          response => {
            this.process = false;
            toastr.success("Queue Deleted.");
            $("#deleteQueue").modal("hide");
            this.dataTables.ajax.reload();
          },
          error => {
            this.process = false;
            var message = "Unknown Response."
            if(typeof error.response !== 'undefined' && typeof error.response.data !== 'undefined' && typeof error.response.data.message !== 'undefined')
              message = error.response.data.message;
            toastr.error(message);
          }
        );
      },
      refreshTable: function(){
        this.dataTables.ajax.reload();
      },
      loadDataTables(){
        var _this = this;
        this.dataTables = $('#queue_keywords-datatables').DataTable({
          processing:true,
          serverSide:true,
          ajax: {
            url: window.Laravel.admin_url+'/ajax/datatable/queues',
            type: 'POST',
            data: function (d) {
              d.type = _this.type;
              if(_this.status)
                d.status = _this.status;
            },
            headers: { 'X-CSRF-TOKEN': window.csrfToken }
          },
          columns: [
            { data: 'id', name: 'id' },
            {
              data: 'name',
              render: function(data, type, row){
                var result = data;
                if(row.status == 'queue')
                  result += ' <span class="label label-info">On Queue</span>';
                else if(row.status == 'pause')
                  result += ' <span class="label label-danger">Paused</span>';
                else if(row.status == 'complete')
                  result += ' <span class="label label-success">Completed</span>';
                return result;
              }
						},
            { data: 'total', name: 'total' },
            { data: 'executed', name: 'executed' },
            { data: 'success', name: 'success' },
            { data: 'failed', name: 'failed' },
            {
              data: null,
              render: function(data,type,row){
                var button = '<button type="button" class="btn btn-xs btn-success edit-queue" title="Edit"><i class="fa fa-edit"></i></button>';
                button += ' <button type="button" class="btn btn-xs btn-danger delete-queue" title="Delete"><i class="fa fa-trash-o"></i></button>';
                return button;
              },
              className: 'text-center',
              orderable:false,
              searchable:false
            }
          ],
          initComplete: function(){
            $('#queue_keywords-datatables tbody').on('click', 'td button.delete-queue', function () {
              var trStats = $(this).closest('tr');
              var rowStats = _this.dataTables.row( trStats );
              var current = rowStats.data();
              _this.current = current;
              $("#deleteQueue").modal();
            });
            $('#queue_keywords-datatables tbody').on('click', 'td button.edit-queue', function () {
              var trStats = $(this).closest('tr');
              var rowStats = _this.dataTables.row( trStats );
              var current = rowStats.data();
              _this.current = current;
              $("#updateQueue").modal();
            });
          }
        });
      }
    }
  }
</script>
