<template>
  <div id="domains">
    <div class="row">
      <div class="col-md-12">
        <div class="box box-info">
          <div class="box-header with-border">
            <div class="pull-right">
              <button class="btn btn-info" data-toggle="modal" data-target="#addNew">Add New</button>
            </div>
          </div>
          <div class="box-body">
            <table id="domain-datatables" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>#ID</th>
                  <th>Domain</th>
                  <th>Site Name</th>
                  <th>Theme</th>
                  <th></th>
                </tr>
              </thead>
            </table>
          </div>
          <div class="overlay" v-if="process"><i class="fa fa-spinner fa-spin"></i></div>
        </div>
      </div>

      <div id="addNew" class="modal modal-primary fade" data-backdrop="static" role="dialog" style="overflow-y:visible;">
        <div class="modal-dialog">
    			<div class="modal-content">
    				<form class="form-horizontal form-bordered" @submit.prevent="createDomain">
    					<div class="modal-header">
    						<button type="button" class="close" data-dismiss="modal" :disabled="process">&times;</button>
    						<h4 class="modal-title">New Domain</h4>
    					</div>

    					<div class="modal-body">
    						<div class="form-group">
    							<label class="control-label col-md-3" for="defaultData-domain">Domain</label>
    							<div class="col-md-9">
    								<input type="text" id="defaultData-domain" class="form-control" v-model="defaultData.domain" required>
    							</div>
    						</div>
    						<div class="form-group">
    							<label class="control-label col-md-3" for="defaultData-ssl">SSL</label>
    							<div class="col-md-9">
    								<select id="defaultData-ssl" class="form-control" v-model="defaultData.ssl" required>
    									<option :value="true">Yes</option>
    									<option :value="false">No</option>
    								</select>
    							</div>
    						</div>
    						<div class="form-group">
    							<label class="control-label col-md-3" for="defaultData-site_name">Site Name</label>
    							<div class="col-md-9">
    								<input type="text" id="defaultData-site_name" class="form-control" v-model="defaultData.site_name" required>
    							</div>
    						</div>
    						<div class="form-group">
    							<label class="control-label col-md-3" for="defaultData-per_page">Products per Page</label>
    							<div class="col-md-9">
    								<input type="number" id="defaultData-per_page" class="form-control" v-model="defaultData.per_page" required>
    							</div>
    						</div>
    						<div class="form-group">
    							<label class="control-label col-md-3" for="defaultData-theme">Theme</label>
    							<div class="col-md-9">
    								<select id="defaultData-theme" class="form-control" v-model="defaultData.theme" required>
                      <option value="default">default</option>
    									<option v-for="theme in themes" :value="theme">{{theme}}</option>
    								</select>
    							</div>
    						</div>
    						<div class="form-group">
    							<label for="defaultData.categories" class="col-md-3 control-label">Categories</label>
    							<div class="col-md-9">
    								<select class="form-control" id="defaultData.categories" v-model="defaultData.categories" multiple="multiple">
    									<option v-for="category in categories" :value="category.id">{{ category.name }}</option>
    								</select>
    							</div>
    						</div>
    						<div class="form-group">
    							<label for="defaultData.pages" class="col-md-3 control-label">Pages</label>
    							<div class="col-md-9">
    								<select class="form-control" id="defaultData.pages" v-model="defaultData.pages" multiple="multiple">
    									<option v-for="page in pages" :value="page.id">{{ page.name }}</option>
    								</select>
    							</div>
    						</div>
    						<div class="form-group">
    							<label class="control-label col-md-3" for="defaultData-header_script">Header Script</label>
    							<div class="col-md-9">
    								<textarea id="defaultData-header_script" class="form-control" v-model="defaultData.header_script" placeholder="Place header script, like google web master meta here..." rows="5"></textarea>
    							</div>
    						</div>
    						<div class="form-group">
    							<label class="control-label col-md-3" for="defaultData-footer_script">Header Script</label>
    							<div class="col-md-9">
    								<textarea id="defaultData-footer_script" class="form-control" v-model="defaultData.footer_script" placeholder="Place footer script, like histats code here..." rows="5"></textarea>
    							</div>
    						</div>
    						<div class="form-group">
    							<label class="control-label col-md-3" for="defaultData-seo_home_id">SEO Home Rule</label>
    							<div class="col-md-9">
    								<select id="defaultData-seo_home_id" class="form-control" v-model="defaultData.seo_home_id" required>
                      <option value="0">default</option>
    									<option v-for="seo in seos" :value="seo.id" v-if="seo.type == 'home'">#{{seo.id}} {{seo.name}}</option>
    								</select>
    							</div>
    						</div>
    						<div class="form-group">
    							<label class="control-label col-md-3" for="defaultData-seo_category_id">SEO Category Rule</label>
    							<div class="col-md-9">
    								<select id="defaultData-seo_category_id" class="form-control" v-model="defaultData.seo_category_id" required>
                      <option value="0">default</option>
                      <option v-for="seo in seos" :value="seo.id" v-if="seo.type == 'category'">#{{seo.id}} {{seo.name}}</option>
    								</select>
    							</div>
    						</div>
    						<div class="form-group">
    							<label class="control-label col-md-3" for="defaultData-seo_product_id">SEO Product Rule</label>
    							<div class="col-md-9">
    								<select id="defaultData-seo_product_id" class="form-control" v-model="defaultData.seo_product_id" required>
                      <option value="0">default</option>
                      <option v-for="seo in seos" :value="seo.id" v-if="seo.type == 'product'">#{{seo.id}} {{seo.name}}</option>
    								</select>
    							</div>
    						</div>
    						<div class="form-group">
    							<label class="control-label col-md-3" for="defaultData-seo_keyword_id">SEO Keyword Rule</label>
    							<div class="col-md-9">
    								<select id="defaultData-seo_keyword_id" class="form-control" v-model="defaultData.seo_keyword_id" required>
                      <option value="0">default</option>
                      <option v-for="seo in seos" :value="seo.id" v-if="seo.type == 'keyword'">#{{seo.id}} {{seo.name}}</option>
    								</select>
    							</div>
    						</div>
    						<div class="form-group">
    							<label class="control-label col-md-3" for="defaultData-seo_search_id">SEO Search Rule</label>
    							<div class="col-md-9">
    								<select id="defaultData-seo_search_id" class="form-control" v-model="defaultData.seo_search_id" required>
                      <option value="0">default</option>
                      <option v-for="seo in seos" :value="seo.id" v-if="seo.type == 'search'">#{{seo.id}} {{seo.name}}</option>
    								</select>
    							</div>
    						</div>
    						<div class="form-group">
    							<label class="control-label col-md-3" for="defaultData-template_home_id">Home Template</label>
    							<div class="col-md-9">
    								<select id="defaultData-template_home_id" class="form-control" v-model="defaultData.template_home_id" required>
                      <option value="0">default</option>
                      <option v-for="template in templates" :value="template.id" v-if="template.type == 'home'">#{{template.id}} {{template.name}}</option>
    								</select>
    							</div>
    						</div>
    						<div class="form-group">
    							<label class="control-label col-md-3" for="defaultData-template_category_id">Category Template</label>
    							<div class="col-md-9">
    								<select id="defaultData-template_category_id" class="form-control" v-model="defaultData.template_category_id" required>
                      <option value="0">default</option>
                      <option v-for="template in templates" :value="template.id" v-if="template.type == 'category'">#{{template.id}} {{template.name}}</option>
    								</select>
    							</div>
    						</div>
    						<div class="form-group">
    							<label class="control-label col-md-3" for="defaultData-template_product_id">Product Template</label>
    							<div class="col-md-9">
    								<select id="defaultData-template_product_id" class="form-control" v-model="defaultData.template_product_id" required>
                      <option value="0">default</option>
                      <option v-for="template in templates" :value="template.id" v-if="template.type == 'product'">#{{template.id}} {{template.name}}</option>
    								</select>
    							</div>
    						</div>
    						<div class="form-group">
    							<label class="control-label col-md-3" for="defaultData-template_keyword_id">Keyword Template</label>
    							<div class="col-md-9">
    								<select id="defaultData-template_keyword_id" class="form-control" v-model="defaultData.template_keyword_id" required>
                      <option value="0">default</option>
                      <option v-for="template in templates" :value="template.id" v-if="template.type == 'keyword'">#{{template.id}} {{template.name}}</option>
    								</select>
    							</div>
    						</div>
    						<div class="form-group">
    							<label class="control-label col-md-3" for="defaultData-template_search_id">Search Template</label>
    							<div class="col-md-9">
    								<select id="defaultData-template_search_id" class="form-control" v-model="defaultData.template_search_id" required>
                      <option value="0">default</option>
                      <option v-for="template in templates" :value="template.id" v-if="template.type == 'search'">#{{template.id}} {{template.name}}</option>
    								</select>
    							</div>
    						</div>
    					</div>

    					<div class="modal-footer">
    						<button type="button" class="btn btn-outline pull-left" data-dismiss="modal" :disabled="process">Close</button>
    						<button type="submit" class="btn btn-outline" :disabled="process">
    							<span v-if="process"><i class="fa fa-refresh fa-spin"></i> Creating...</span>
    							<span v-else>Create</span>
    						</button>
    					</div>
    				</form>
    			</div>
    		</div>
    	</div>

      <div id="editDomain" class="modal modal-primary fade" data-backdrop="static" role="dialog" style="overflow-y:visible;">
        <div class="modal-dialog">
    			<div class="modal-content">
    				<form class="form-horizontal form-bordered" @submit.prevent="updateDomain">
    					<div class="modal-header">
    						<button type="button" class="close" data-dismiss="modal" :disabled="process">&times;</button>
    						<h4 class="modal-title">Edit Domain</h4>
    					</div>

    					<div class="modal-body">
    						<div class="form-group">
    							<label class="control-label col-md-3" for="current-domain">Domain</label>
    							<div class="col-md-9">
    								<input type="text" id="current-domain" class="form-control" v-model="current.domain" required>
    							</div>
    						</div>
    						<div class="form-group">
    							<label class="control-label col-md-3" for="current-ssl">SSL</label>
    							<div class="col-md-9">
    								<select id="current-ssl" class="form-control" v-model="current.ssl" required>
    									<option :value="true">Yes</option>
    									<option :value="false">No</option>
    								</select>
    							</div>
    						</div>
    						<div class="form-group">
    							<label class="control-label col-md-3" for="current-site_name">Site Name</label>
    							<div class="col-md-9">
    								<input type="text" id="current-site_name" class="form-control" v-model="current.site_name" required>
    							</div>
    						</div>
    						<div class="form-group">
    							<label class="control-label col-md-3" for="current-per_page">Products per Page</label>
    							<div class="col-md-9">
    								<input type="number" id="current-per_page" class="form-control" v-model="current.per_page" required>
    							</div>
    						</div>
    						<div class="form-group">
    							<label class="control-label col-md-3" for="current-theme">Theme</label>
    							<div class="col-md-9">
    								<select id="current-theme" class="form-control" v-model="current.theme" required>
                      <option value="default">default</option>
    									<option v-for="theme in themes" :value="theme">{{theme}}</option>
    								</select>
    							</div>
    						</div>
    						<div class="form-group">
    							<label for="current.categories" class="col-md-3 control-label">Categories</label>
    							<div class="col-md-9">
    								<select class="form-control" id="current.categories" v-model="current.categories" multiple="multiple">
    									<option v-for="category in categories" :value="category.id">{{ category.name }}</option>
    								</select>
    							</div>
    						</div>
    						<div class="form-group">
    							<label for="current.pages" class="col-md-3 control-label">Pages</label>
    							<div class="col-md-9">
    								<select class="form-control" id="current.pages" v-model="current.pages" multiple="multiple">
    									<option v-for="page in pages" :value="page.id">{{ page.name }}</option>
    								</select>
    							</div>
    						</div>
    						<div class="form-group">
    							<label class="control-label col-md-3" for="current-header_script">Header Script</label>
    							<div class="col-md-9">
    								<textarea id="current-header_script" class="form-control" v-model="current.header_script" placeholder="Place header script, like google web master meta here..." rows="5"></textarea>
    							</div>
    						</div>
    						<div class="form-group">
    							<label class="control-label col-md-3" for="current-footer_script">Header Script</label>
    							<div class="col-md-9">
    								<textarea id="current-footer_script" class="form-control" v-model="current.footer_script" placeholder="Place footer script, like histats code here..." rows="5"></textarea>
    							</div>
    						</div>
    						<div class="form-group">
    							<label class="control-label col-md-3" for="current-seo_home_id">SEO Home Rule</label>
    							<div class="col-md-9">
    								<select id="current-seo_home_id" class="form-control" v-model="current.seo_home_id" required>
                      <option value="0">default</option>
    									<option v-for="seo in seos" :value="seo.id" v-if="seo.type == 'home'">#{{seo.id}} {{seo.name}}</option>
    								</select>
    							</div>
    						</div>
    						<div class="form-group">
    							<label class="control-label col-md-3" for="current-seo_category_id">SEO Category Rule</label>
    							<div class="col-md-9">
    								<select id="current-seo_category_id" class="form-control" v-model="current.seo_category_id" required>
                      <option value="0">default</option>
                      <option v-for="seo in seos" :value="seo.id" v-if="seo.type == 'category'">#{{seo.id}} {{seo.name}}</option>
    								</select>
    							</div>
    						</div>
    						<div class="form-group">
    							<label class="control-label col-md-3" for="current-seo_product_id">SEO Product Rule</label>
    							<div class="col-md-9">
    								<select id="current-seo_product_id" class="form-control" v-model="current.seo_product_id" required>
                      <option value="0">default</option>
                      <option v-for="seo in seos" :value="seo.id" v-if="seo.type == 'product'">#{{seo.id}} {{seo.name}}</option>
    								</select>
    							</div>
    						</div>
    						<div class="form-group">
    							<label class="control-label col-md-3" for="current-seo_keyword_id">SEO Keyword Rule</label>
    							<div class="col-md-9">
    								<select id="current-seo_keyword_id" class="form-control" v-model="current.seo_keyword_id" required>
                      <option value="0">default</option>
                      <option v-for="seo in seos" :value="seo.id" v-if="seo.type == 'keyword'">#{{seo.id}} {{seo.name}}</option>
    								</select>
    							</div>
    						</div>
    						<div class="form-group">
    							<label class="control-label col-md-3" for="current-seo_search_id">SEO Search Rule</label>
    							<div class="col-md-9">
    								<select id="current-seo_search_id" class="form-control" v-model="current.seo_search_id" required>
                      <option value="0">default</option>
                      <option v-for="seo in seos" :value="seo.id" v-if="seo.type == 'search'">#{{seo.id}} {{seo.name}}</option>
    								</select>
    							</div>
    						</div>
    						<div class="form-group">
    							<label class="control-label col-md-3" for="current-template_home_id">Home Template</label>
    							<div class="col-md-9">
    								<select id="current-template_home_id" class="form-control" v-model="current.template_home_id" required>
                      <option value="0">default</option>
                      <option v-for="template in templates" :value="template.id" v-if="template.type == 'home'">#{{template.id}} {{template.name}}</option>
    								</select>
    							</div>
    						</div>
    						<div class="form-group">
    							<label class="control-label col-md-3" for="current-template_category_id">Category Template</label>
    							<div class="col-md-9">
    								<select id="current-template_category_id" class="form-control" v-model="current.template_category_id" required>
                      <option value="0">default</option>
                      <option v-for="template in templates" :value="template.id" v-if="template.type == 'category'">#{{template.id}} {{template.name}}</option>
    								</select>
    							</div>
    						</div>
    						<div class="form-group">
    							<label class="control-label col-md-3" for="current-template_product_id">Product Template</label>
    							<div class="col-md-9">
    								<select id="current-template_product_id" class="form-control" v-model="current.template_product_id" required>
                      <option value="0">default</option>
                      <option v-for="template in templates" :value="template.id" v-if="template.type == 'product'">#{{template.id}} {{template.name}}</option>
    								</select>
    							</div>
    						</div>
    						<div class="form-group">
    							<label class="control-label col-md-3" for="current-template_keyword_id">Keyword Template</label>
    							<div class="col-md-9">
    								<select id="current-template_keyword_id" class="form-control" v-model="current.template_keyword_id" required>
                      <option value="0">default</option>
                      <option v-for="template in templates" :value="template.id" v-if="template.type == 'keyword'">#{{template.id}} {{template.name}}</option>
    								</select>
    							</div>
    						</div>
    						<div class="form-group">
    							<label class="control-label col-md-3" for="current-template_search_id">Search Template</label>
    							<div class="col-md-9">
    								<select id="current-template_search_id" class="form-control" v-model="current.template_search_id" required>
                      <option value="0">default</option>
                      <option v-for="template in templates" :value="template.id" v-if="template.type == 'search'">#{{template.id}} {{template.name}}</option>
    								</select>
    							</div>
    						</div>
    					</div>

    					<div class="modal-footer">
    						<button type="button" class="btn btn-outline pull-left" data-dismiss="modal" :disabled="process">Close</button>
    						<button type="submit" class="btn btn-outline" :disabled="process">
    							<span v-if="process"><i class="fa fa-refresh fa-spin"></i> Updating...</span>
    							<span v-else>Update</span>
    						</button>
    					</div>
    				</form>
    			</div>
    		</div>
    	</div>

      <div id="deleteDomain" class="modal modal-danger fade" data-backdrop="static" role="dialog" style="overflow-y:visible;">
        <div class="modal-dialog">
          <div class="modal-content">
            <form class="form-horizontal form-bordered" @submit.prevent="deleteDomain">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" :disabled="process">&times;</button>
                <h4 class="modal-title">Delete Domain</h4>
              </div>
              <div class="modal-body">
                <p>Are you sure, want to delete this domain <strong class="bg-yellow">{{current.domain}}</strong>?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal" :disabled="process">Close</button>
                <button type="submit" class="btn btn-outline" :disabled="process">
                  <span v-if="process"><i class="fa fa-refresh fa-spin"></i> Deleting...</span>
                  <span v-else>Delete</span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div id="flushDomain" class="modal modal-warning fade" data-backdrop="static" role="dialog" style="overflow-y:visible;">
    		<div class="modal-dialog">
    			<div class="modal-content">
    				<form class="form-horizontal form-bordered" @submit.prevent="flushDomain">
    					<div class="modal-header">
    						<button type="button" class="close" data-dismiss="modal" :disabled="process">&times;</button>
    						<h4 class="modal-title">Flush Domain</h4>
    					</div>

    					<div class="modal-body">
    						<p>This action will deleting all stored cache data related this domain: <strong class="bg-yellow">{{current.domain}}</strong> and try to refreshing data.</p>
    					</div>

    					<div class="modal-footer">
    						<button type="button" class="btn btn-outline pull-left" data-dismiss="modal" :disabled="process">Close</button>
    						<button type="submit" class="btn btn-outline" :disabled="process">
    							<span v-if="process"><i class="fa fa-refresh fa-spin"></i> Flushing...</span>
    							<span v-else>Flush</span>
    						</button>
    					</div>
    				</form>
    			</div>
    		</div>
    	</div>

    </div>
  </div>
</template>

<script>
  export default {
    data(){
      return {
        dataTables:{},
				productsTable: false,
				current: {
          categories: [],
          pages:[]
        },
				defaultData: {
          categories: [],
          pages:[]
        },
				seos: {},
				templates: {},
				categories: {},
				pages: {},
				themes: {},
				newSeos: {},
				process: false,
      }
    },
    mounted(){
      this.getDefault();
      this.getDefaultSeo();
      this.getSeos();
      this.getTemplates();
      this.getCategories();
      this.getPages();
      this.getThemes();
      this.loadDataTables();
    },
    methods: {
      createDomain(){
        axios.post(window.Laravel.admin_url+'/ajax/post/createDomain',{domain:this.defaultData}).then(
          response => {
            this.process = false;
            toastr.success("New Domain Added.");
            $("#addNew").modal("hide");
            this.dataTables.ajax.reload();
          },
          error => {
            this.process = false;
            var message = "Unknown Response."
            if(typeof error.response !== 'undefined' && typeof error.response.data !== 'undefined' && typeof error.response.data.message !== 'undefined')
              message = error.response.data.message;
            toastr.error(message);
          }
        );
      },
      updateDomain(){
        axios.post(window.Laravel.admin_url+'/ajax/post/updateDomain',{domain_id:this.current.id,domain:this.current}).then(
          response => {
            this.process = false;
            toastr.success("Domain Updated.");
            $("#editDomain").modal("hide");
            this.dataTables.ajax.reload();
          },
          error => {
            this.process = false;
            var message = "Unknown Response."
            if(typeof error.response !== 'undefined' && typeof error.response.data !== 'undefined' && typeof error.response.data.message !== 'undefined')
              message = error.response.data.message;
            toastr.error(message);
          }
        );
      },
      deleteDomain(){
        axios.post(window.Laravel.admin_url+'/ajax/post/deleteDomain',{domain_id:this.current.id}).then(
          response => {
            this.process = false;
            toastr.success("Domain Deleted.");
            $("#deleteDomain").modal("hide");
            this.dataTables.ajax.reload();
          },
          error => {
            this.process = false;
            var message = "Unknown Response."
            if(typeof error.response !== 'undefined' && typeof error.response.data !== 'undefined' && typeof error.response.data.message !== 'undefined')
              message = error.response.data.message;
            toastr.error(message);
          }
        );
      },
      flushDomain(){
        axios.post(window.Laravel.admin_url+'/ajax/post/flushDomain',{domain:this.current.domain,domain_id:this.current.id}).then(
          response => {
            this.process = false;
            toastr.success("Domain Flushed.");
            $("#flushDomain").modal("hide");
          },
          error => {
            this.process = false;
            var message = "Unknown Response."
            if(typeof error.response !== 'undefined' && typeof error.response.data !== 'undefined' && typeof error.response.data.message !== 'undefined')
              message = error.response.data.message;
            toastr.error(message);
          }
        );
      },
      loadDataTables(){
        var _this = this;
        this.dataTables = $('#domain-datatables').DataTable({
          processing:true,
          serverSide:true,
          ajax: {
            url: window.Laravel.admin_url+'/ajax/datatable/domains',
            type: 'POST',
            headers: { 'X-CSRF-TOKEN': window.csrfToken }
          },
          columns: [
            { data: 'id', name: 'id' },
            { data: 'domain', name: 'domain' },
            { data: 'site_name', name: 'site_name' },
            { data: 'theme', name: 'theme' },
            {
              data: null,
              render: function(data,type,row){
                var button = '<button type="button" class="btn btn-xs btn-success edit-domain" title="Edit"><i class="fa fa-edit"></i></button>';
                button += ' <button type="button" class="btn btn-xs btn-warning flush-domain" title="Flush and Refresh Cache"><i class="fa fa-refresh"></i></button>';
                button += ' <button type="button" class="btn btn-xs btn-danger delete-domain" title="Delete"><i class="fa fa-trash-o"></i></button>';

                var url = "http://"+row.domain;
                if(row.ssl) url = "https://"+row.domain;
                button += ' <a href="'+ url +'" class="btn btn-xs btn-primary open-domain" title="View" target="_blank"><i class="fa fa-external-link"></i></a>';
                return button;
              },
              className: 'text-center',
              orderable:false,
              searchable:false
            }
          ],
          initComplete: function(){
            $('#domain-datatables tbody').on('click', 'td button.delete-domain', function () {
              var trStats = $(this).closest('tr');
              var rowStats = _this.dataTables.row( trStats );
              var current = rowStats.data();
              _this.current = current;
              $("#deleteDomain").modal();
            });
            $('#domain-datatables tbody').on('click', 'td button.edit-domain', function () {
              var trStats = $(this).closest('tr');
              var rowStats = _this.dataTables.row( trStats );
              var current = rowStats.data();
              current.ssl = current.ssl == "1" ? true : false;
              _this.current = current;
              $("#editDomain").modal();
            });
            $('#domain-datatables tbody').on('click', 'td button.flush-domain', function () {
              var trStats = $(this).closest('tr');
              var rowStats = _this.dataTables.row( trStats );
              var current = rowStats.data();
              _this.current = current;
              $("#flushDomain").modal();
            });
          }
        });
      },
      getDefault(){
        this.process = true;
        axios.post(window.Laravel.admin_url+'/ajax/get/config',{name:'default.domain'}).then(
          response => {
            this.defaultData = response.data;
            this.process = false;
          }
        );
      },
      getDefaultSeo(){
        this.process = true;
        axios.post(window.Laravel.admin_url+'/ajax/get/config',{name:'default.seo'}).then(
          response => {
            this.newSeos = response.data;
            this.process = false;
          }
        );
      },
      getSeos(){
        this.process = true;
        axios.post(window.Laravel.admin_url+'/ajax/get/seos').then(
          response => {
            this.seos = response.data;
            this.process = false;
          }
        );
      },
      getTemplates(){
        this.process = true;
        axios.post(window.Laravel.admin_url+'/ajax/get/templates').then(
          response => {
            this.templates = response.data;
            this.process = false;
          }
        );
      },
      getCategories(){
        this.process = true;
        axios.post(window.Laravel.admin_url+'/ajax/get/categories').then(
          response => {
            this.categories = response.data;
            this.process = false;
          }
        );
      },
      getPages(){
        this.process = true;
        axios.post(window.Laravel.admin_url+'/ajax/get/pages').then(
          response => {
            this.pages = response.data;
            this.process = false;
          }
        );
      },
      getThemes(){
        this.process = true;
        axios.post(window.Laravel.admin_url+'/ajax/get/themes').then(
          response => {
            this.themes = response.data;
            this.process = false;
          }
        );
      },
    }
  }
</script>
