<template>
  <div id="categories">
    <div class="row">
      <div class="col-md-12">
        <div class="box box-info">
          <div class="box-header with-border">
            <form class="form-inline"s return="false">
              <div class="form-group">
                <select id="parent-id" class="form-control" v-model="type" @change="refreshKeywords">
                  <option value="products">Products</option>
                  <option value="google_images">Google Images</option>
                </select>
              </div>
            </form>
          </div>
          <div class="box-body">
            <table id="keyword-datatables" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>#ID</th>
                  <th>Query</th>
                  <th>Type</th>
                  <th></th>
                </tr>
              </thead>
            </table>
          </div>
          <div class="overlay" v-if="process"><i class="fa fa-spinner fa-spin"></i></div>
        </div>
      </div>

      <div id="deleteKeyword" class="modal modal-danger fade" data-backdrop="static" role="dialog" style="overflow-y:visible;">
        <div class="modal-dialog">
          <div class="modal-content">
            <form class="form-horizontal form-bordered" @submit.prevent="deleteKeyword">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" :disabled="process">&times;</button>
                <h4 class="modal-title">Delete Keyword</h4>
              </div>
              <div class="modal-body">
                <p>Are you sure, want to delete this keyword <strong class="bg-yellow" v-html="current.query"></strong>?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal" :disabled="process">Close</button>
                <button type="submit" class="btn btn-outline" :disabled="process">
                  <span v-if="process"><i class="fa fa-refresh fa-spin"></i> Deleting...</span>
                  <span v-else>Delete</span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>


    </div>
  </div>
</template>

<script>
  export default {
    data(){
      return {
        dataTables:{},
				current: {},
				type: 'products',
				process: false,
      }
    },
    mounted(){
      this.loadDataTables();
    },
    methods: {
      deleteKeyword(){
        axios.post(window.Laravel.admin_url+'/ajax/post/deleteKeyword',{keyword_id:this.current.id}).then(
          response => {
            this.process = false;
            toastr.success("Keyword Deleted.");
            $("#deleteKeyword").modal("hide");
            this.dataTables.ajax.reload();
          },
          error => {
            this.process = false;
            var message = "Unknown Response."
            if(typeof error.response !== 'undefined' && typeof error.response.data !== 'undefined' && typeof error.response.data.message !== 'undefined')
              message = error.response.data.message;
            toastr.error(message);
          }
        );
      },
      refreshKeywords: function(){
        this.dataTables.ajax.reload();
      },
      loadDataTables(){
        var _this = this;
        this.dataTables = $('#keyword-datatables').DataTable({
          processing:true,
          serverSide:true,
          ajax: {
            url: window.Laravel.admin_url+'/ajax/datatable/keywords',
            type: 'POST',
            data: function (d) {
              d.type = _this.type;
            },
            headers: { 'X-CSRF-TOKEN': window.csrfToken }
          },
          columns: [
            { data: 'id', name: 'id' },
            { data: 'query', name: 'query' },
            { data: 'type', name: 'type' },
            {
              data: null,
              render: function(data,type,row){
                return '<button type="button" class="btn btn-xs btn-danger delete-keyword" title="Delete"><i class="fa fa-trash-o"></i></button>';
              },
              className: 'text-center',
              orderable:false,
              searchable:false
            }
          ],
          initComplete: function(){
            $('#category-datatables tbody').on('click', 'td button.delete-keyword', function () {
              var trStats = $(this).closest('tr');
              var rowStats = _this.dataTables.row( trStats );
              var current = rowStats.data();
              _this.current = current;
              $("#deleteKeyword").modal();
            });
          }
        });
      }
    }
  }
</script>
