<template>
  <div id="pages">
    <div class="row">
      <div class="col-md-12">
        <div class="box box-info">
          <div class="box-header with-border">
            <div class="pull-right">
              <button class="btn btn-info" data-toggle="modal" data-target="#createPage">Add New</button>
            </div>
          </div>
          <div class="box-body">
            <table id="page-datatables" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>#ID</th>
                  <th>Name</th>
									<th>Updated</th>
									<th>Created</th>
                  <th></th>
                </tr>
              </thead>
            </table>
          </div>
          <div class="overlay" v-if="process"><i class="fa fa-spinner fa-spin"></i></div>
        </div>
      </div>

      <div id="createPage" class="modal modal-primary fade" data-backdrop="static" role="dialog" style="overflow-y:visible;">
        <div class="modal-dialog">
          <div class="modal-content">
            <form class="form-horizontal form-bordered" @submit.prevent="createPage">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" :disabled="process">&times;</button>
                <h4 class="modal-title">New Page</h4>
              </div>

              <div class="modal-body">
                <div class="form-group">
                  <label class="control-label col-md-3" for="defaultData-name">Name/Title</label>
                  <div class="col-md-9">
                    <input type="text" id="defaultData-name" class="form-control" v-model="defaultData.name" required>
                  </div>
                </div>
    						<div class="form-group">
    							<label class="control-label col-md-3" for="defaultData-content">Content</label>
    							<div class="col-md-9">
    								<textarea id="defaultData-content" class="form-control" v-model="defaultData.content" placeholder="Place content here..." rows="10"></textarea>
    							</div>
    						</div>
    						<div class="form-group">
    							<label class="control-label col-md-3" for="defaultData-seo_id">Meta SEO Rule</label>
    							<div class="col-md-9">
    								<select id="defaultData-seo_id" class="form-control" v-model="defaultData.seo_id">
    									<option :value="false">Create New Rule</option>
    									<option v-for="seo in seos" :value="seo.id">#{{seo.id}} {{seo.name}}</option>
    								</select>
    							</div>
    						</div>
                <div v-if="!defaultData.seo_id">
    							<div class="form-group">
    								<label class="control-label col-md-3" for="newSeo-name">Rule Name</label>
    								<div class="col-md-9">
    									<input type="text" id="newSeo-name" class="form-control" v-model="newSeo.name" required>
    								</div>
    							</div>
    							<div class="form-group">
    								<label class="control-label col-md-3" for="newSeo-meta_title">Meta Title</label>
    								<div class="col-md-9">
    									<input type="text" id="newSeo-meta_title" class="form-control" v-model="newSeo.meta_title">
    								</div>
    							</div>
    							<div class="form-group">
    								<label class="control-label col-md-3" for="newSeo-meta_keyword">Meta Keyword</label>
    								<div class="col-md-9">
    									<input type="text" id="newSeo-meta_keyword" class="form-control" v-model="newSeo.meta_keyword">
    								</div>
    							</div>
    							<div class="form-group">
    								<label class="control-label col-md-3" for="newSeo-meta_robot">Meta Robot</label>
    								<div class="col-md-9">
    									<input type="text" id="newSeo-meta_robot" class="form-control" v-model="newSeo.meta_robot">
    								</div>
    							</div>
    							<div class="form-group">
    								<label class="control-label col-md-3" for="newSeo-description">Meta Desc</label>
    								<div class="col-md-9">
    									<textarea id="newSeo-description" class="form-control" v-model="newSeo.meta_description" placeholder="Some description here..."></textarea>
    								</div>
    							</div>
    						</div>
    					</div>

    					<div class="modal-footer">
    						<button type="button" class="btn btn-outline pull-left" data-dismiss="modal" :disabled="process">Close</button>
    						<button type="submit" class="btn btn-outline" :disabled="process">
    							<span v-if="process"><i class="fa fa-refresh fa-spin"></i> Creating...</span>
    							<span v-else>Create</span>
    						</button>
    					</div>
    				</form>
    			</div>
    		</div>
    	</div>

      <div id="updatePage" class="modal modal-primary fade" data-backdrop="static" role="dialog" style="overflow-y:visible;">
        <div class="modal-dialog">
          <div class="modal-content">
            <form class="form-horizontal form-bordered" @submit.prevent="updatePage">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" :disabled="process">&times;</button>
                <h4 class="modal-title">Edit Page</h4>
              </div>

              <div class="modal-body">
                <div class="form-group">
                  <label class="control-label col-md-3" for="current-name">Name/Title</label>
                  <div class="col-md-9">
                    <input type="text" id="current-name" class="form-control" v-model="current.name" required>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3" for="current-content">Content</label>
                  <div class="col-md-9">
                    <textarea id="current-content" class="form-control" v-model="current.content" placeholder="Place content here..." rows="10"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3" for="current-seo_id">Meta SEO Rule</label>
                  <div class="col-md-9">
                    <select id="current-seo_id" class="form-control" v-model="current.seo_id">
                      <option :value="false">Create New Rule</option>
                      <option v-for="seo in seos" :value="seo.id">#{{seo.id}} {{seo.name}}</option>
                    </select>
                  </div>
                </div>
                <div v-if="!current.seo_id">
                  <div class="form-group">
                    <label class="control-label col-md-3" for="newSeo-name">Rule Name</label>
                    <div class="col-md-9">
                      <input type="text" id="newSeo-name" class="form-control" v-model="newSeo.name" required>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3" for="newSeo-meta_title">Meta Title</label>
                    <div class="col-md-9">
                      <input type="text" id="newSeo-meta_title" class="form-control" v-model="newSeo.meta_title">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3" for="newSeo-meta_keyword">Meta Keyword</label>
                    <div class="col-md-9">
                      <input type="text" id="newSeo-meta_keyword" class="form-control" v-model="newSeo.meta_keyword">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3" for="newSeo-meta_robot">Meta Robot</label>
                    <div class="col-md-9">
                      <input type="text" id="newSeo-meta_robot" class="form-control" v-model="newSeo.meta_robot">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3" for="newSeo-description">Meta Desc</label>
                    <div class="col-md-9">
                      <textarea id="newSeo-description" class="form-control" v-model="newSeo.meta_description" placeholder="Some description here..."></textarea>
                    </div>
                  </div>
                </div>
    					</div>

    					<div class="modal-footer">
    						<button type="button" class="btn btn-outline pull-left" data-dismiss="modal" :disabled="process">Close</button>
    						<button type="submit" class="btn btn-outline" :disabled="process">
    							<span v-if="process"><i class="fa fa-refresh fa-spin"></i> Updating...</span>
    							<span v-else>Update</span>
    						</button>
    					</div>
    				</form>
    			</div>
    		</div>
    	</div>

      <div id="deletePage" class="modal modal-danger fade" data-backdrop="static" role="dialog" style="overflow-y:visible;">
        <div class="modal-dialog">
          <div class="modal-content">
            <form class="form-horizontal form-bordered" @submit.prevent="deletePage">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" :disabled="process">&times;</button>
                <h4 class="modal-title">Delete Page</h4>
              </div>
              <div class="modal-body">
                <p>Are you sure, want to delete this Page <strong class="bg-yellow" v-html="current.name"></strong>?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal" :disabled="process">Close</button>
                <button type="submit" class="btn btn-outline" :disabled="process">
                  <span v-if="process"><i class="fa fa-refresh fa-spin"></i> Deleting...</span>
                  <span v-else>Delete</span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>


    </div>
  </div>
</template>

<script>
  export default {
    data(){
      return {
        dataTables:{},
				current: {},
				newSeo: {},
				defaultData: {
          name: "",
          content: "",
          seo_id: false
        },
				seos: {},
				process: false,
      }
    },
    mounted(){
      this.getDefaultSeo();
      this.loadDataTables();
      this.getSeos();
    },
    methods: {
      createPage(){
        axios.post(window.Laravel.admin_url+'/ajax/post/createPage',{page:this.defaultData,seo:this.newSeo}).then(
          response => {
            this.process = false;
            toastr.success("New Page Created.");
            if(!this.defaultData.seo_id){
							this.getSeos();
							this.getDefaultSeo();
						}
            $("#createPage").modal("hide");
            this.dataTables.ajax.reload();
          },
          error => {
            this.process = false;
            var message = "Unknown Response."
            if(typeof error.response !== 'undefined' && typeof error.response.data !== 'undefined' && typeof error.response.data.message !== 'undefined')
              message = error.response.data.message;
            toastr.error(message);
          }
        );
      },
      updatePage(){
        var params = {
          page_id:this.current.id,
          page:{
            name: this.current.name,
            content: this.current.content,
            seo_id: this.current.seo_id,
          },
          seo: this.newSeo
        };
        axios.post(window.Laravel.admin_url+'/ajax/post/updatePage',params).then(
          response => {
            this.process = false;
            toastr.success("Page Updated.");
            if(!this.current.seo_id){
							this.getSeos();
							this.getDefaultSeo();
						}
            $("#updatePage").modal("hide");
            this.dataTables.ajax.reload();
          },
          error => {
            this.process = false;
            var message = "Unknown Response."
            if(typeof error.response !== 'undefined' && typeof error.response.data !== 'undefined' && typeof error.response.data.message !== 'undefined')
              message = error.response.data.message;
            toastr.error(message);
          }
        );
      },
      deletePage(){
        axios.post(window.Laravel.admin_url+'/ajax/post/deletePage',{page_id:this.current.id}).then(
          response => {
            this.process = false;
            toastr.success("Page Deleted.");
            $("#deletePage").modal("hide");
            this.dataTables.ajax.reload();
          },
          error => {
            this.process = false;
            var message = "Unknown Response."
            if(typeof error.response !== 'undefined' && typeof error.response.data !== 'undefined' && typeof error.response.data.message !== 'undefined')
              message = error.response.data.message;
            toastr.error(message);
          }
        );
      },
      getDefaultSeo(){
        this.process = true;
        axios.post(window.Laravel.admin_url+'/ajax/get/config',{name:'default.seo.page'}).then(
          response => {
            this.newSeo = response.data;
            this.process = false;
          }
        );
      },
      getSeos(){
        this.process = true;
        axios.post(window.Laravel.admin_url+'/ajax/get/seos',{type:'page'}).then(
          response => {
            this.seos = response.data;
            this.process = false;
          }
        );
      },
      loadDataTables(){
        var _this = this;
        this.dataTables = $('#page-datatables').DataTable({
          processing:true,
          serverSide:true,
          ajax: {
            url: window.Laravel.admin_url+'/ajax/datatable/pages',
            type: 'POST',
            headers: { 'X-CSRF-TOKEN': window.csrfToken }
          },
          columns: [
            { data: 'id', name: 'id' },
            { data: 'name', name: 'name' },
						{ data: 'updated_at', name: 'updated_at', searchable: false },
						{ data: 'created_at', name: 'created_at', searchable: false },
            {
              data: null,
              render: function(data,type,row){
                var button = '<button type="button" class="btn btn-xs btn-success edit-page" title="Edit"><i class="fa fa-edit"></i></button>';
                button += ' <button type="button" class="btn btn-xs btn-danger delete-page" title="Delete"><i class="fa fa-trash-o"></i></button>';
                button += ' <a href="'+ row.url +'" class="btn btn-xs btn-primary open-page" title="View" target="_blank"><i class="fa fa-external-link"></i></a>';
                return button;
              },
              className: 'text-center',
              orderable:false,
              searchable:false
            }
          ],
          initComplete: function(){
            $('#page-datatables tbody').on('click', 'td button.delete-page', function () {
              var trStats = $(this).closest('tr');
              var rowStats = _this.dataTables.row( trStats );
              var current = rowStats.data();
              _this.current = current;
              $("#deletePage").modal();
            });
            $('#page-datatables tbody').on('click', 'td button.edit-page', function () {
              var trStats = $(this).closest('tr');
              var rowStats = _this.dataTables.row( trStats );
              var current = rowStats.data();
              _this.current = current;
              $("#updatePage").modal();
            });
          }
        });
      }
    }
  }
</script>
