<template>
  <div id="products-grabber">
    <div class="row">
      <div class="col-md-12">
        <div class="box box-info" v-if="step == 'fill-parameter'">
          <form method="POST" class="form-horizontal" @submit.prevent="grabProducts">
            <div class="box-body">
              <p>Grab Aliexpress products based on parameters below</p>
              <div class="form-group">
                <label for="parameter-keywords" class="col-sm-2 control-label">Keyword</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="parameter-keywords" v-model="parameter.keywords">
                </div>
              </div>
              <div class="form-group">
                <label for="parameter-categoryId" class="col-sm-2 control-label">categoryId</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="parameter-categoryId" v-model="parameter.categoryId">
                </div>
              </div>
              <div class="form-group">
                <label for="parameter-originalPriceFrom" class="col-sm-2 control-label">Price</label>
                <div class="col-sm-10 input-group">
                  <span class="input-group-addon">$</span>
                  <input type="text" class="form-control" id="parameter-originalPriceFrom" v-model="parameter.originalPriceFrom">
                    <span class="input-group-addon"> - </span>
                    <input type="text" class="form-control" id="parameter-originalPriceTo" v-model="parameter.originalPriceTo">
                </div>
              </div>
              <div class="form-group">
                <label for="grabbing-startPage" class="col-sm-2 control-label">Page</label>
                <div class="col-sm-10 input-group">
                  <input type="number" class="form-control" id="grabbing-startPage" v-model.number="grabbing.startPage">
                    <span class="input-group-addon"> - </span>
                    <input type="number" class="form-control" id="grabbing-endPage" v-model.number="grabbing.endPage">
                </div>
              </div>
              <div class="form-group">
                <label for="parameter-highQualityItems" class="col-sm-2 control-label">highQualityItems</label>
                <div class="col-sm-10 checkbox icheck">
                  <label><input type="checkbox" v-model="parameter.highQualityItems" id="highQualityItems"> Only products contain good images & titles, great sales and postive feedback from buyers</label>
                </div>
              </div>
            </div>
            <div class="box-footer">
              <button type="submit" class="btn btn-info pull-right">Grab</button>
            </div>
          </form>
          <div class="overlay" v-if="process"><i class="fa fa-spinner fa-spin"></i></div>
        </div>


        <div class="info-box bg-green" v-if="step == 'grabbing'">
          <div class="info-box-icon"><i class="fa fa-spinner fa-spin"></i></div>
          <div class="info-box-content">
            <span class="info-box-text">Processing...</span>
            <span class="info-box-number">
              {{this.grabbing.currentPage}} of {{this.grabbing.endPage}} Pages
              <button type="button" class="btn btn-xs btn-danger" @click="grabbing.continue=false" :disabled="!grabbing.continue"> <i class="fa fa-stop"></i> Stop</button>
            </span>
            <div class="progress">
              <div class="progress-bar" :style="grabbingPercentage"></div>
            </div>
            <span class="progress-description">{{grabbing.totalProducts}} Products Grabbed</span>
          </div>
        </div>

        <div class="box box-info" v-if="step == 'results'">
          <div class="box-header with-border">
            <button type="button" class="btn btn-xs btn-success" title="Download Products Id list" @click="downloadTxt()">
              <i class="fa fa-file-text-o"></i>
            </button>
            <button type="button" class="btn btn-xs btn-success" title="Download Products list" @click="downloadCsv()">
              <i class="fa fa-file-excel-o"></i>
            </button>
            <button type="button" class="btn btn-xs btn-primary" data-toggle="modal" data-target="#postProducts">
              <i class="fa fa-play"></i> Post Products
            </button>
            <button type="button" class="btn btn-xs btn-warning" data-toggle="modal" data-target="#addToQueue">
              <i class="fa fa-plus-square"></i> Add to Queue
            </button>
          </div>
          <div class="box-body">
            <table id="products-tables" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>#ID</th>
                  <th>Title</th>
                  <th>Discount</th>
                  <th>Rating</th>
                  <th>Price</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>

      </div>

      <div id="postProducts" class="modal modal-primary fade" data-backdrop="static" role="dialog" style="overflow-y:visible;">
        <div class="modal-dialog">
          <div class="modal-content">
            <form class="form-horizontal form-bordered" @submit.prevent="postProducts">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" :disabled="process">&times;</button>
                <h4 class="modal-title">Post Products</h4>
              </div>

              <div class="modal-body">
                <div class="form-group" v-if="!posting.process && posting.continue">
                  <label class="control-label col-md-3" for="posting-categories">Categories</label>
                  <div class="col-md-7">
                    <select id="posting-categories" class="form-control" v-model="posting.categories" required :disabled="process" multiple="multiple">
                      <option v-for="category in categories" :value="category.id">#{{category.id}} {{category.name}}</option>
                    </select>
                  </div>
                  <div class="col-md-2">
                    <button type="button" class="btn btn-warning" @click="getCategories"><i class="fa fa-refresh"></i></button>
                  </div>
                </div>

                <div class="info-box bg-green" v-if="posting.process">
                  <div class="info-box-icon"><i class="fa fa-spinner fa-spin"></i></div>
                  <div class="info-box-content">
                    <span class="info-box-text">Posting Products...</span>
                    <span class="info-box-number">
                      {{this.posting.current}} of {{this.posting.total}} Pages
                    </span>
                    <div class="progress">
                      <div class="progress-bar" :style="postingPercentage"></div>
                    </div>
                    <span class="progress-description">
                      Success: {{posting.success}},
                      Exists: {{posting.exists}},
                      Failed: {{posting.failed}}
                    </span>
                  </div>
                </div>

                <div class="callout callout-success" v-if="!posting.process && !posting.continue">
                  Complete!!!... {{posting.success}} Products Posted, {{posting.exists}} Exists, and {{posting.failed}} Failed.
                </div>

    					</div>

    					<div class="modal-footer">
    						<button type="button" class="btn btn-outline pull-left" data-dismiss="modal" :disabled="posting.process">Close</button>
    						<button type="submit" class="btn btn-outline" :disabled="posting.process">
    							<span v-if="posting.process"><i class="fa fa-refresh fa-spin"></i> Posting Products...</span>
    							<span v-else>Post</span>
    						</button>
    					</div>
    				</form>
    			</div>
    		</div>
    	</div>

      <div id="addToQueue" class="modal modal-primary fade" data-backdrop="static" role="dialog" style="overflow-y:visible;">
        <div class="modal-dialog">
          <div class="modal-content">
            <form class="form-horizontal form-bordered" @submit.prevent="addToQueue">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" :disabled="process">&times;</button>
                <h4 class="modal-title">Add Products to Queue</h4>
              </div>

              <div class="modal-body">
                <div class="form-group" v-if="!adding.process && !adding.success">
                  <label for="adding-name" class="col-sm-3 control-label">Name</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="adding-name" v-model="adding.name" required>
                  </div>
                </div>
                <div class="form-group" v-if="!adding.process && !adding.success">
                  <label class="control-label col-md-3" for="posting-categories">Categories</label>
                  <div class="col-md-7">
                    <select id="adding-categories" class="form-control" v-model="adding.categories" required :disabled="process" multiple="multiple">
                      <option v-for="category in categories" :value="category.id">#{{category.id}} {{category.name}}</option>
                    </select>
                  </div>
                  <div class="col-md-2">
                    <button type="button" class="btn btn-warning" @click="getCategories"><i class="fa fa-refresh"></i></button>
                  </div>
                </div>

                <div class="callout callout-success" v-if="!adding.process && adding.success">
                  Complete!!!... {{productsId.length}} Products Added to Queue
                </div>

    					</div>

    					<div class="modal-footer">
    						<button type="button" class="btn btn-outline pull-left" data-dismiss="modal" :disabled="adding.process">Close</button>
    						<button type="submit" class="btn btn-outline" :disabled="adding.process">
    							<span v-if="adding.process"><i class="fa fa-refresh fa-spin"></i> Adding Products to Queue...</span>
    							<span v-else>Add</span>
    						</button>
    					</div>
    				</form>
    			</div>
    		</div>
    	</div>

    </div>
  </div>
</template>

<script>
  export default {
    data(){
      return {
        parameter: {
          highQualityItems: true,
        },
        step: 'fill-parameter',
        grabbing: {
          totalPages: 0,
          currentPage: 1,
          startPage: 1,
          endPage: 10,
          continue: true,
          totalProducts:0
        },
        posting: {
          total: 0,
          current: 0,
          currentId:'',
          success: 0,
          exists: 0,
          failed: 0,
          categories: [],
          continue: true,
          paused: false,
          process: false
        },
        adding: {
          name: '',
          process: false,
          success:false,
          categories: [],
        },
        products:{},
				process: false,
        results: [],
        productsTable:{},
        categories:[],
        productsId:[]
      }
    },
    mounted(){
    var _this = this;
      $(function () {
        $('input#highQualityItems').iCheck({
          checkboxClass: 'icheckbox_square-blue',
          radioClass: 'iradio_square-blue',
          increaseArea: '20%' // optional
        });
        $('input#highQualityItems').on('ifChecked', function(e){
          _this.parameter.highQualityItems = true;
        });
        $('input#highQualityItems').on('ifUnchecked', function(e){
          _this.parameter.highQualityItems = false;
        });
      });
    },
    computed: {
      grabbingPercentage: function () {
        var end = (this.grabbing.endPage - this.grabbing.startPage) + 1;
        var start = this.grabbing.currentPage - this.grabbing.startPage;
        var percentage = _.ceil((start/end)*100);
        return {
          width: percentage+'%',
        }
      },
      postingPercentage: function () {
        var percentage = _.ceil((this.posting.current/this.posting.total)*100);
        return {
          width: percentage+'%',
        }
      }
    },
    methods: {
      addToQueue(){
        this.adding.process = true;
        this.productsId = Object.keys(this.products);
        var params = {
          name: this.adding.name,
          categories: this.adding.categories,
          type: 'products',
          products: this.productsId
        };
        axios.post(window.Laravel.admin_url+'/ajax/post/createQueue',{queue:params}).then(
          response => {
            this.adding.process = false;
            this.adding.success = true;
          },
          error => {
            this.adding.process = false;
            var message = "Unknown Response."
            if(typeof error.response !== 'undefined' && typeof error.response.data !== 'undefined' && typeof error.response.data.message !== 'undefined')
              message = error.response.data.message;
            toastr.error(message);
          }
        );
      },
      grabProducts(){
        this.process = true;
        if(_.isEmpty(_.trim(this.parameter.keywords)) && _.isEmpty(_.trim(this.parameter.categoryId))){
          toastr.error("You can't leave both of keywords and categoryId empty");
          this.process = false;
        }else{
          this.step = 'grabbing';
          this.grabbing.currentPage = this.grabbing.startPage;;
          this.grabProductsByPage();
        }
      },
      grabProductsByPage(){
        var params = this.parameter;
        var _this = this;
        params.pageNo = this.grabbing.currentPage;
        axios.post(window.Laravel.admin_url+'/ajax/post/grabProducts',{parameter:params}).then(
          response => {
            this.grabbing.totalPages = response.data.totalPage;
            if(this.grabbing.totalPages < this.grabbing.endPage) this.grabbing.endPage = this.grabbing.totalPages;
            var products = response.data.products;
            _.forEach(products,function(product){
              var nP = {};
              nP[product.productId] = product;
              _this.products = _.merge(_this.products,nP);
            });
            this.grabbing.totalProducts = _.size(this.products);
            this.grabbingProductsJumper();
          },
          error => {
            var message = "Unknown Response."
            if(typeof error.response !== 'undefined' && typeof error.response.data !== 'undefined' && typeof error.response.data.message !== 'undefined')
              message = error.response.data.message;
            toastr.error(message);
            this.grabbingProductsJumper();
          }
        );
      },
      grabbingProductsJumper(){
        if(this.grabbing.continue && this.grabbing.currentPage < this.grabbing.endPage){
          this.grabbing.currentPage += 1;
          this.grabProductsByPage();
        }else{
          this.step = 'results';
          var _this = this;
          setTimeout(function(){
            _this.loadDataTables();
          },2000);
          this.getCategories();

        }
      },
      loadDataTables(){
        var products = _.toArray(this.products);
        this.productsTable = $('#products-tables').DataTable({
          data: products,
          columns: [
            { data: 'productId', name: 'productId' },
            {
              data: 'productTitle',
              render: function(data, type, row){
                var content = '<div class="user-block">';
                content += '<img class="img-circle img-bordered-sm" src="'+row.imageUrl+'_50x50.jpg">';
                content += '<span class="username"><a href="'+row.productUrl+'" target="_blank">'+data+'</a></span>';
                content += '</div>';
                return content;
              }
            },
            { data: 'discount', name: 'discount' },
            { data: 'evaluateScore', name: 'evaluateScore' },
            {
              orderable: false,
              searchable: false,
              data: null,
              render: function(data, type, row){
                var price = row.salePrice + ' - ' + row.originalPrice + ' / ' + row.lotNum + ' ' + row.packageType;
                return price;
              }
            },
          ]
        });
      },
      downloadTxt(){
        var data, filename, link, result, keys;
        keys = Object.keys(this.products);
        result = keys.join('\n');
        if (result == null) return;

        filename = 'productsId.txt';

        if (!result.match(/^data:text\/plain/i)) {
            result = 'data:text/plain;charset=utf-8,' + result;
        }
        data = encodeURI(result);

        link = document.createElement('a');
        link.setAttribute('href', data);
        link.setAttribute('download', filename);
        link.click();
      },
      downloadCsv(){
        var data, filename, link;
        var result, ctr, keys, columnDelimiter, lineDelimiter;

        data = _.toArray(this.products);
        if (data == null || !data.length) {
          return null;
        }

        columnDelimiter = ';';
        lineDelimiter = '\n';

        keys = Object.keys(data[0]);

        result = '';
        result += keys.join(columnDelimiter);
        result += lineDelimiter;

        data.forEach(function(item) {
          ctr = 0;
          keys.forEach(function(key) {
            if (ctr > 0) result += columnDelimiter;
            result += item[key];
            ctr++;
          });
          result += lineDelimiter;
        });
        if (result == null) return;

        filename = 'products.csv';

        if (!result.match(/^data:text\/csv/i)) {
            result = 'data:text/csv;charset=utf-8,' + result;
        }
        data = encodeURI(result);

        link = document.createElement('a');
        link.setAttribute('href', data);
        link.setAttribute('download', filename);
        link.click();
      },
      getCategories(){
        this.process = true;
        axios.post(window.Laravel.admin_url+'/ajax/get/categories').then(
          response => {
            this.categories = response.data;
            this.process = false;
          }
        );
      },
      postProducts(){
        this.posting.process = true;
        this.posting.total = _.size(this.products);
        this.productsId = Object.keys(this.products);
        this.postProductsJumper();
      },
      postProductsJumper(){
        if(this.posting.continue && typeof this.productsId[(this.posting.current)] !== 'undefined'){
          this.posting.currentId = this.productsId[(this.posting.current)];
          this.posting.current += 1;
          this.postProductById();
          if(typeof this.productsId[(this.posting.current)] == 'undefined')
            this.posting.continue = false;
        }else{
          this.posting.process = false;
        }
      },
      postProductById(){
        var params = {categories: this.posting.categories, product_id: this.posting.currentId};
        var _this = this;
        axios.post(window.Laravel.admin_url+'/ajax/post/postProduct',params).then(
          response => {
            if(response.data.success == 'success') this.posting.success += 1;
            else this.posting.exists += 1;
            this.postProductsJumper();
          },
          error => {
            var message = "Unknown Response."
            if(typeof error.response !== 'undefined' && typeof error.response.data !== 'undefined' && typeof error.response.data.message !== 'undefined')
              message = error.response.data.message;
            toastr.error(message);
            this.posting.failed += 1;
            this.postProductsJumper();
          }
        );
      }
    }
  }
</script>
<style>
.input-group[class*="col-"]{
  padding-left: 15px;
  padding-right: 15px;
}
</style>
