<template>
  <div id="products">
    <div class="row">
      <div class="col-md-12">
        <div class="box box-info">
          <div class="box-header with-border">
            <form class="form-inline" @submit.prevent="refreshDataTable">
							<div class="form-group">
								<select id="parent-id" class="form-control" v-model="category_id">
									<option :value="false">All</option>
                  <option v-for="cat in categories" :value="cat.id">#{{cat.id}} {{cat.name}}</option>
								</select>
                <button type="submit" class="btn btn-primary">Refresh</button>
							</div>
						</form>
          </div>
          <div class="box-body">
            <table id="product-datatables" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>#ID</th>
                  <th>Product Name / Title</th>
                  <th>Discount</th>
                  <th>Rating</th>
                  <th>Price</th>
                  <th></th>
                </tr>
              </thead>
            </table>
          </div>
          <div class="overlay" v-if="process"><i class="fa fa-spinner fa-spin"></i></div>
        </div>
      </div>

      <div id="deleteProduct" class="modal modal-danger fade" data-backdrop="static" role="dialog" style="overflow-y:visible;">
        <div class="modal-dialog">
          <div class="modal-content">
            <form class="form-horizontal form-bordered" @submit.prevent="deleteProduct">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" :disabled="process">&times;</button>
                <h4 class="modal-title">Delete Product</h4>
              </div>
              <div class="modal-body">
                <p>Are you sure, want to delete this Product <strong class="bg-yellow">{{current.title}}</strong>?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal" :disabled="process">Close</button>
                <button type="submit" class="btn btn-outline" :disabled="process">
                  <span v-if="process"><i class="fa fa-refresh fa-spin"></i> Deleting...</span>
                  <span v-else>Delete</span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>



    </div>
  </div>
</template>

<script>
  export default {
    data(){
      return {
        dataTables:{},
        current: {},
				categories: {},
				category_id: false,
				process: false,
      }
    },
    mounted(){
      this.getCategories();
      this.loadDataTables();
    },
    methods: {
      getCategories(){
        this.process = true;
        axios.post(window.Laravel.admin_url+'/ajax/get/categories').then(
          response => {
            this.categories = response.data;
            this.process = false;
          }
        );
      },
      deleteProduct(){
        axios.post(window.Laravel.admin_url+'/ajax/post/deleteProduct',{product_id:this.current.id}).then(
          response => {
            this.process = false;
            toastr.success("Product Deleted.");
            $("#deleteProduct").modal("hide");
            this.dataTables.ajax.reload();
          },
          error => {
            this.process = false;
            var message = "Unknown Response."
            if(typeof error.response !== 'undefined' && typeof error.response.data !== 'undefined' && typeof error.response.data.message !== 'undefined')
              message = error.response.data.message;
            toastr.error(message);
          }
        );
      },
      loadDataTables(){
        var _this = this;
        this.dataTables = $('#product-datatables').DataTable({
          processing:true,
          serverSide:true,
          ajax: {
            url: window.Laravel.admin_url+'/ajax/datatable/products',
            type: 'POST',
            data: function (d) {
              if(_this.category_id)
                d.category_id = _this.category_id ;
            },
            headers: { 'X-CSRF-TOKEN': window.csrfToken }
          },
          columns: [
            { data: 'id', name: 'id' },
            {
              data: 'title',
              render: function(data, type, row){
                var content = '<div class="user-block">';
                content += '<img class="img-circle img-bordered-sm" src="'+row.image_url+'_50x50.jpg">';
                content += '<span class="username"><a href="'+row.url+'" target="_blank">'+data+'</a></span>';
                content += '</div>';
                return content;
              }
            },
            { data: 'discount', name: 'discount' },
            { data: 'rating', name: 'rating' },
            {
              orderable: false,
              searchable: false,
              data: null,
              render: function(data, type, row){
                var price = row.sale_price + ' - ' + row.original_price + ' / ' + row.lot_num + ' ' + row.package_type;
                return price;
              }
            },
            {
              data: null,
              render: function(data,type,row){
                var button = ' <button type="button" class="btn btn-xs btn-danger delete-product" title="Delete"><i class="fa fa-trash-o"></i></button>';
                button += ' <a href="https://www.aliexpress.com/item//'+ row.product_id +'.html" class="btn btn-xs btn-primary open-product" title="View" target="_blank"><i class="fa fa-external-link"></i></a>';

                return button;
              },
              className: 'text-center',
              orderable:false,
              searchable:false
            }
          ],
          initComplete: function(){
            $('#product-datatables tbody').on('click', 'td button.delete-product', function () {
              var trStats = $(this).closest('tr');
              var rowStats = _this.dataTables.row( trStats );
              var current = rowStats.data();
              _this.current = current;
              $("#deleteProduct").modal();
            });
          }
        });
      },
      refreshDataTable: function(){
        this.dataTables.ajax.reload();
      },
    }
  }
</script>
