<template>
  <div id="categories">
    <div class="row">
      <div class="col-md-12">
        <div class="box box-info">
          <div class="box-header with-border">
            <form class="form-inline"s return="false">
              <div class="form-group">
                <select id="parent-id" class="form-control" v-model="type" @change="refreshTable">
                  <option value="search-engine">Search Engine</option>
                  <option value="search-form">Search Form</option>
                </select>
              </div>
            </form>
          </div>
          <div class="box-body">
            <table id="query-datatables" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>#ID</th>
                  <th>Query</th>
                  <th>Type</th>
                  <th>Total</th>
                </tr>
              </thead>
            </table>
          </div>
          <div class="overlay" v-if="process"><i class="fa fa-spinner fa-spin"></i></div>
        </div>
      </div>


    </div>
  </div>
</template>

<script>
  export default {
    data(){
      return {
        dataTables:{},
				type: 'search-engine',
				process: false,
      }
    },
    mounted(){
      this.loadDataTables();
    },
    methods: {
      refreshTable: function(){
        this.dataTables.ajax.reload();
      },
      loadDataTables(){
        var _this = this;
        this.dataTables = $('#query-datatables').DataTable({
          processing:true,
          serverSide:true,
          ajax: {
            url: window.Laravel.admin_url+'/ajax/datatable/queries',
            type: 'POST',
            data: function (d) {
              d.type = _this.type;
            },
            headers: { 'X-CSRF-TOKEN': window.csrfToken }
          },
          columns: [
            { data: 'id', name: 'id' },
            { data: 'query', name: 'query' },
            { data: 'type', name: 'type' },
            { data: 'total', name: 'total' }
          ]
        });
      }
    }
  }
</script>
