<template>
  <div id="categories">
    <div class="row">
      <div class="col-md-12">
        <div class="box box-info">
          <div class="box-header with-border">
            <div class="pull-right">
              <button class="btn btn-info" data-toggle="modal" data-target="#createSeo">Add New</button>
            </div>
            <form class="form-inline" return="false">
							<div class="form-group">
								<select id="parent-id" class="form-control" v-model="seoType" v-on:change="refreshSeoType">
									<option value="home">Home</option>
                  <option value="category">Category</option>
									<option value="product">Product</option>
									<option value="keyword">Keyword</option>
									<option value="search">Search</option>
									<option value="page">Manual Page</option>
								</select>
							</div>
						</form>
          </div>
          <div class="box-body">
            <table id="seo-datatables" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>#ID</th>
                  <th>Name</th>
                  <th>Meta Robot</th>
                  <th></th>
                </tr>
              </thead>
            </table>
          </div>
          <div class="overlay" v-if="process"><i class="fa fa-spinner fa-spin"></i></div>
        </div>
      </div>

      <div id="createSeo" class="modal modal-primary fade" data-backdrop="static" role="dialog" style="overflow-y:visible;">
        <div class="modal-dialog">
          <div class="modal-content">
            <form class="form-horizontal form-bordered" @submit.prevent="createSeo">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" :disabled="process">&times;</button>
                <h4 class="modal-title">New SEO Rule</h4>
              </div>

              <div class="modal-body">
                <div class="form-group">
                  <label class="control-label col-md-3" for="new-seo_id">Type</label>
                  <div class="col-md-9">
                    <select id="new-seo_id" class="form-control" v-model="seoType" v-on:change="refreshSeoType">
                      <option value="home">Home</option>
                      <option value="category">Category</option>
                      <option value="product">Product</option>
                      <option value="keyword">Keyword</option>
                      <option value="search">Search</option>
                      <option value="page">Manual Page</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3" for="defaultData-name">Rule Name</label>
                  <div class="col-md-9">
                    <input type="text" id="defaultData-name" class="form-control" v-model="defaultData.name" required>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3" for="defaultData-meta_title">Meta Title</label>
    							<div class="col-md-9">
    								<textarea id="defaultData-meta_title" class="form-control" v-model="defaultData.meta_title"></textarea>
    							</div>
    						</div>
    						<div class="form-group">
    							<label class="control-label col-md-3" for="defaultData-meta_keyword">Meta Keyword</label>
    							<div class="col-md-9">
    								<textarea id="defaultData-meta_keyword" class="form-control" v-model="defaultData.meta_keyword"></textarea>
    							</div>
    						</div>
    						<div class="form-group">
    							<label class="control-label col-md-3" for="defaultData-meta_robot">Meta Robot</label>
    							<div class="col-md-9">
    								<input type="text" id="defaultData-meta_robot" class="form-control" v-model="defaultData.meta_robot">
    							</div>
    						</div>
    						<div class="form-group">
    							<label class="control-label col-md-3" for="defaultData-description">Meta Desc</label>
    							<div class="col-md-9">
    								<textarea id="defaultData-description" class="form-control" v-model="defaultData.meta_description" placeholder="Some description here..."></textarea>
    							</div>
    						</div>
    					</div>

    					<div class="modal-footer">
    						<button type="button" class="btn btn-outline pull-left" data-dismiss="modal" :disabled="process">Close</button>
    						<button type="submit" class="btn btn-outline" :disabled="process">
    							<span v-if="process"><i class="fa fa-refresh fa-spin"></i> Creating...</span>
    							<span v-else>Create</span>
    						</button>
    					</div>
    				</form>
    			</div>
    		</div>
    	</div>

      <div id="updateSeo" class="modal modal-primary fade" data-backdrop="static" role="dialog" style="overflow-y:visible;">
    		<div class="modal-dialog">
    			<div class="modal-content">
    				<form class="form-horizontal form-bordered" @submit.prevent="updateSeo">
    					<div class="modal-header">
    						<button type="button" class="close" data-dismiss="modal" :disabled="process">&times;</button>
    						<h4 class="modal-title">Edit SEO Rule</h4>
    					</div>

    					<div class="modal-body">
    						<div class="form-group">
    							<label class="control-label col-md-3" for="current-type">Type</label>
    							<div class="col-md-9">
    								<select id="current-type" class="form-control" v-model="current.type">
    									<option value="home">Home</option>
                      <option value="category">Category</option>
    									<option value="product">Product</option>
    									<option value="keyword">Keyword</option>
    									<option value="search">Search</option>
    									<option value="page">Manual Page</option>
    								</select>
    							</div>
    						</div>
    						<div class="form-group">
    							<label class="control-label col-md-3" for="current-name">Rule Name</label>
    							<div class="col-md-9">
    								<input type="text" id="current-name" class="form-control" v-model="current.name" required>
    							</div>
    						</div>
    						<div class="form-group">
    							<label class="control-label col-md-3" for="current-meta_title">Meta Title</label>
    							<div class="col-md-9">
    								<textarea id="current-meta_title" class="form-control" v-model="current.meta_title"></textarea>
    							</div>
    						</div>
    						<div class="form-group">
    							<label class="control-label col-md-3" for="current-meta_keyword">Meta Keyword</label>
    							<div class="col-md-9">
    								<textarea id="current-meta_keyword" class="form-control" v-model="current.meta_keyword"></textarea>
    							</div>
    						</div>
    						<div class="form-group">
    							<label class="control-label col-md-3" for="current-meta_robot">Meta Robot</label>
    							<div class="col-md-9">
    								<input type="text" id="current-meta_robot" class="form-control" v-model="current.meta_robot">
    							</div>
    						</div>
    						<div class="form-group">
    							<label class="control-label col-md-3" for="current-description">Meta Desc</label>
    							<div class="col-md-9">
    								<textarea id="current-description" class="form-control" v-model="current.meta_description" placeholder="Some description here..."></textarea>
    							</div>
    						</div>
    					</div>

    					<div class="modal-footer">
    						<button type="button" class="btn btn-outline pull-left" data-dismiss="modal" :disabled="process">Close</button>
    						<button type="submit" class="btn btn-outline" :disabled="process">
    							<span v-if="process"><i class="fa fa-refresh fa-spin"></i> Updating...</span>
    							<span v-else>Update</span>
    						</button>
    					</div>
    				</form>
    			</div>
    		</div>
    	</div>

      <div id="deleteSeo" class="modal modal-danger fade" data-backdrop="static" role="dialog" style="overflow-y:visible;">
        <div class="modal-dialog">
          <div class="modal-content">
            <form class="form-horizontal form-bordered" @submit.prevent="deleteSeo">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" :disabled="process">&times;</button>
                <h4 class="modal-title">Delete SEO Rule</h4>
              </div>
              <div class="modal-body">
                <p>Are you sure, want to delete this SEO Rule <strong class="bg-yellow">{{current.name}}</strong>?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal" :disabled="process">Close</button>
                <button type="submit" class="btn btn-outline" :disabled="process">
                  <span v-if="process"><i class="fa fa-refresh fa-spin"></i> Deleting...</span>
                  <span v-else>Delete</span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>



    </div>
  </div>
</template>

<script>
  export default {
    data(){
      return {
        dataTables:{},
        current: {},
				defaultData: {},
				seoType: 'home',
				seos: {},
				process: false,
      }
    },
    mounted(){
      this.getDefault();
      this.loadDataTables();
    },
    methods: {
      createSeo(){
        axios.post(window.Laravel.admin_url+'/ajax/post/createSeo',{seo:this.defaultData}).then(
          response => {
            this.process = false;
            toastr.success("New Seo Rule Added.");
            $("#createSeo").modal("hide");
            this.dataTables.ajax.reload();
          },
          error => {
            this.process = false;
            var message = "Unknown Response."
            if(typeof error.response !== 'undefined' && typeof error.response.data !== 'undefined' && typeof error.response.data.message !== 'undefined')
              message = error.response.data.message;
            toastr.error(message);
          }
        );
      },
      updateSeo(){
        axios.post(window.Laravel.admin_url+'/ajax/post/updateSeo',{seo_id:this.current.id,seo:this.current}).then(
          response => {
            this.process = false;
            toastr.success("SEO Rule Updated.");
            $("#updateSeo").modal("hide");
            this.dataTables.ajax.reload();
          },
          error => {
            this.process = false;
            var message = "Unknown Response."
            if(typeof error.response !== 'undefined' && typeof error.response.data !== 'undefined' && typeof error.response.data.message !== 'undefined')
              message = error.response.data.message;
            toastr.error(message);
          }
        );
      },
      deleteSeo(){
        axios.post(window.Laravel.admin_url+'/ajax/post/deleteSeo',{seo_id:this.current.id}).then(
          response => {
            this.process = false;
            toastr.success("SEO Rule Deleted.");
            $("#deleteSeo").modal("hide");
            this.dataTables.ajax.reload();
          },
          error => {
            this.process = false;
            var message = "Unknown Response."
            if(typeof error.response !== 'undefined' && typeof error.response.data !== 'undefined' && typeof error.response.data.message !== 'undefined')
              message = error.response.data.message;
            toastr.error(message);
          }
        );
      },
      loadDataTables(){
        var _this = this;
        this.dataTables = $('#seo-datatables').DataTable({
          processing:true,
          serverSide:true,
          ajax: {
            url: window.Laravel.admin_url+'/ajax/datatable/seos',
            type: 'POST',
            data: function (d) {
              d.type = _this.seoType;
            },
            headers: { 'X-CSRF-TOKEN': window.csrfToken }
          },
          columns: [
            { data: 'id', name: 'id' },
            { data: 'name', name: 'name' },
            { data: 'meta_robot', name: 'meta_robot' },
            {
              data: null,
              render: function(data,type,row){
                var button = '<button type="button" class="btn btn-xs btn-success edit-seo" title="Edit"><i class="fa fa-edit"></i></button>';
                button += ' <button type="button" class="btn btn-xs btn-danger delete-seo" title="Delete"><i class="fa fa-trash-o"></i></button>';

                return button;
              },
              className: 'text-center',
              orderable:false,
              searchable:false
            }
          ],
          initComplete: function(){
            $('#seo-datatables tbody').on('click', 'td button.delete-seo', function () {
              var trStats = $(this).closest('tr');
              var rowStats = _this.dataTables.row( trStats );
              var current = rowStats.data();
              _this.current = current;
              $("#deleteSeo").modal();
            });
            $('#seo-datatables tbody').on('click', 'td button.edit-seo', function () {
              var trStats = $(this).closest('tr');
              var rowStats = _this.dataTables.row( trStats );
              var current = rowStats.data();
              _this.current = current;
              $("#updateSeo").modal();
            });
          }
        });
      },
      getDefault(){
        this.process = true;
        axios.post(window.Laravel.admin_url+'/ajax/get/config',{name:'default.seo'}).then(
          response => {
            this.seos = response.data;
            this.defaultData = this.seos[this.seoType];
            this.process = false;
          }
        );
      },
      refreshSeoType: function(){
        this.defaultData = this.seos[this.seoType];
        this.dataTables.ajax.reload();
      },
    }
  }
</script>
