<template>
  <div id="templates">
    <div class="row">
      <div class="col-md-12">
        <div class="box box-info">
          <div class="box-header with-border">
            <div class="pull-right">
              <button class="btn btn-info" data-toggle="modal" data-target="#createTemplate">Add New</button>
            </div>
            <form class="form-inline" return="false">
							<div class="form-group">
								<select id="parent-id" class="form-control" v-model="templateType" v-on:change="refreshTemplateType">
									<option value="home">Home</option>
                  <option value="category">Category</option>
									<option value="product">Product</option>
									<option value="keyword">Keyword</option>
									<option value="search">Search</option>
								</select>
							</div>
						</form>
          </div>
          <div class="box-body">
            <table id="template-datatables" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>#ID</th>
                  <th>Name</th>
                  <th></th>
                </tr>
              </thead>
            </table>
          </div>
          <div class="overlay" v-if="process"><i class="fa fa-spinner fa-spin"></i></div>
        </div>
      </div>

      <div id="createTemplate" class="modal modal-primary fade" data-backdrop="static" role="dialog" style="overflow-y:visible;">
        <div class="modal-dialog">
          <div class="modal-content">
            <form class="form-horizontal form-bordered" @submit.prevent="createTemplate">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" :disabled="process">&times;</button>
                <h4 class="modal-title">New Template</h4>
              </div>

              <div class="modal-body">
                <div class="form-group">
                  <label class="control-label col-md-3" for="new-template_id">Type</label>
                  <div class="col-md-9">
                    <select id="new-template_id" class="form-control" v-model="templateType" v-on:change="refreshTemplateType">
                      <option value="home">Home</option>
                      <option value="category">Category</option>
                      <option value="product">Product</option>
                      <option value="keyword">Keyword</option>
                      <option value="search">Search</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3" for="defaultData-name">Template Name</label>
                  <div class="col-md-9">
                    <input type="text" id="defaultData-name" class="form-control" v-model="defaultData.name" required>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3" for="defaultData-content">Content</label>
    							<div class="col-md-9">
    								<textarea id="defaultData-content" class="form-control" v-model="defaultData.content" rows="10"></textarea>
    							</div>
    						</div>
    					</div>

    					<div class="modal-footer">
    						<button type="button" class="btn btn-outline pull-left" data-dismiss="modal" :disabled="process">Close</button>
    						<button type="submit" class="btn btn-outline" :disabled="process">
    							<span v-if="process"><i class="fa fa-refresh fa-spin"></i> Creating...</span>
    							<span v-else>Create</span>
    						</button>
    					</div>
    				</form>
    			</div>
    		</div>
    	</div>

      <div id="updateTemplate" class="modal modal-primary fade" data-backdrop="static" role="dialog" style="overflow-y:visible;">
    		<div class="modal-dialog">
    			<div class="modal-content">
    				<form class="form-horizontal form-bordered" @submit.prevent="updateTemplate">
    					<div class="modal-header">
    						<button type="button" class="close" data-dismiss="modal" :disabled="process">&times;</button>
    						<h4 class="modal-title">Edit Template</h4>
    					</div>

    					<div class="modal-body">
    						<div class="form-group">
    							<label class="control-label col-md-3" for="current-type">Type</label>
    							<div class="col-md-9">
    								<select id="current-type" class="form-control" v-model="current.type">
    									<option value="home">Home</option>
                      <option value="category">Category</option>
    									<option value="product">Product</option>
    									<option value="keyword">Keyword</option>
    									<option value="search">Search</option>
    								</select>
    							</div>
    						</div>
    						<div class="form-group">
    							<label class="control-label col-md-3" for="current-name">Template Name</label>
    							<div class="col-md-9">
    								<input type="text" id="current-name" class="form-control" v-model="current.name" required>
    							</div>
    						</div>
                <div class="form-group">
                  <label class="control-label col-md-3" for="current-content">Content</label>
    							<div class="col-md-9">
    								<textarea id="current-content" class="form-control" v-model="current.content" rows="10"></textarea>
    							</div>
    						</div>
    					</div>

    					<div class="modal-footer">
    						<button type="button" class="btn btn-outline pull-left" data-dismiss="modal" :disabled="process">Close</button>
    						<button type="submit" class="btn btn-outline" :disabled="process">
    							<span v-if="process"><i class="fa fa-refresh fa-spin"></i> Updating...</span>
    							<span v-else>Update</span>
    						</button>
    					</div>
    				</form>
    			</div>
    		</div>
    	</div>

      <div id="deleteTemplate" class="modal modal-danger fade" data-backdrop="static" role="dialog" style="overflow-y:visible;">
        <div class="modal-dialog">
          <div class="modal-content">
            <form class="form-horizontal form-bordered" @submit.prevent="deleteTemplate">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" :disabled="process">&times;</button>
                <h4 class="modal-title">Delete Template</h4>
              </div>
              <div class="modal-body">
                <p>Are you sure, want to delete this Template <strong class="bg-yellow">{{current.name}}</strong>?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal" :disabled="process">Close</button>
                <button type="submit" class="btn btn-outline" :disabled="process">
                  <span v-if="process"><i class="fa fa-refresh fa-spin"></i> Deleting...</span>
                  <span v-else>Delete</span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
  export default {
    data(){
      return {
        dataTables:{},
        current: {},
				defaultData: {},
				templateType: 'home',
				templates: {},
				process: false,
      }
    },
    mounted(){
      this.getDefault();
      this.loadDataTables();
    },
    methods: {
      createTemplate(){
        axios.post(window.Laravel.admin_url+'/ajax/post/createTemplate',{template:this.defaultData}).then(
          response => {
            this.process = false;
            toastr.success("New Template Added.");
            $("#createTemplate").modal("hide");
            this.dataTables.ajax.reload();
          },
          error => {
            this.process = false;
            var message = "Unknown Response."
            if(typeof error.response !== 'undefined' && typeof error.response.data !== 'undefined' && typeof error.response.data.message !== 'undefined')
              message = error.response.data.message;
            toastr.error(message);
          }
        );
      },
      updateTemplate(){
        axios.post(window.Laravel.admin_url+'/ajax/post/updateTemplate',{template_id:this.current.id,template:this.current}).then(
          response => {
            this.process = false;
            toastr.success("Template Updated.");
            $("#updateTemplate").modal("hide");
            this.dataTables.ajax.reload();
          },
          error => {
            this.process = false;
            var message = "Unknown Response."
            if(typeof error.response !== 'undefined' && typeof error.response.data !== 'undefined' && typeof error.response.data.message !== 'undefined')
              message = error.response.data.message;
            toastr.error(message);
          }
        );
      },
      deleteTemplate(){
        axios.post(window.Laravel.admin_url+'/ajax/post/deleteTemplate',{template_id:this.current.id}).then(
          response => {
            this.process = false;
            toastr.success("Template Deleted.");
            $("#deleteTemplate").modal("hide");
            this.dataTables.ajax.reload();
          },
          error => {
            this.process = false;
            var message = "Unknown Response."
            if(typeof error.response !== 'undefined' && typeof error.response.data !== 'undefined' && typeof error.response.data.message !== 'undefined')
              message = error.response.data.message;
            toastr.error(message);
          }
        );
      },
      loadDataTables(){
        var _this = this;
        this.dataTables = $('#template-datatables').DataTable({
          processing:true,
          serverSide:true,
          ajax: {
            url: window.Laravel.admin_url+'/ajax/datatable/templates',
            type: 'POST',
            data: function (d) {
              d.type = _this.templateType;
            },
            headers: { 'X-CSRF-TOKEN': window.csrfToken }
          },
          columns: [
            { data: 'id', name: 'id' },
            { data: 'name', name: 'name' },
            {
              data: null,
              render: function(data,type,row){
                var button = '<button type="button" class="btn btn-xs btn-success edit-template" title="Edit"><i class="fa fa-edit"></i></button>';
                button += ' <button type="button" class="btn btn-xs btn-danger delete-template" title="Delete"><i class="fa fa-trash-o"></i></button>';

                return button;
              },
              className: 'text-center',
              orderable:false,
              searchable:false
            }
          ],
          initComplete: function(){
            $('#template-datatables tbody').on('click', 'td button.delete-template', function () {
              var trStats = $(this).closest('tr');
              var rowStats = _this.dataTables.row( trStats );
              var current = rowStats.data();
              _this.current = current;
              $("#deleteTemplate").modal();
            });
            $('#template-datatables tbody').on('click', 'td button.edit-template', function () {
              var trStats = $(this).closest('tr');
              var rowStats = _this.dataTables.row( trStats );
              var current = rowStats.data();
              _this.current = current;
              $("#updateTemplate").modal();
            });
          }
        });
      },
      getDefault(){
        this.process = true;
        axios.post(window.Laravel.admin_url+'/ajax/get/config',{name:'default.template'}).then(
          response => {
            this.templates = response.data;
            this.defaultData = this.templates[this.templateType];
            this.process = false;
          }
        );
      },
      refreshTemplateType: function(){
        this.defaultData = this.templates[this.templateType];
        this.dataTables.ajax.reload();
      },
    }
  }
</script>
