<template>
  <div id="permalinks-settings">
    <div class="row">
      <div class="col-md-12">
        <div class="box box-info">
          <form method="POST" class="form-horizontal" @submit.prevent="updatePermalinks">
            <div class="box-body">
              <div class="form-group">
                <label for="permalinks-category" class="col-sm-2 control-label">Category</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="permalinks-category" v-model="permalinks.category" required>
                </div>
              </div>
              <div class="form-group">
                <label for="permalinks-product" class="col-sm-2 control-label">Product</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="permalinks-product" v-model="permalinks.product" required>
                </div>
              </div>
              <div class="form-group">
                <label for="permalinks-page" class="col-sm-2 control-label">Manual Page</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="permalinks-page" v-model="permalinks.page" required>
                </div>
              </div>
              <div class="form-group">
                <label for="permalinks-keyword" class="col-sm-2 control-label">Keyword</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="permalinks-keyword" v-model="permalinks.keyword" required>
                </div>
              </div>
              <div class="form-group">
                <label for="permalinks-resources" class="col-sm-2 control-label">Resources</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="permalinks-resources" v-model="permalinks.resources" required>
                </div>
              </div>
            </div>
            <div class="box-footer">
              <button type="submit" class="btn btn-info pull-right">Save changes</button>
            </div>
          </form>
          <div class="overlay" v-if="process"><i class="fa fa-spinner fa-spin"></i></div>
        </div>
      </div>


    </div>
  </div>
</template>

<script>
  export default {
    data(){
      return {
        permalinks: {},
				process: false,
      }
    },
    mounted(){
      this.getPermalinks();
    },
    methods: {
      updatePermalinks(){
        axios.post(window.Laravel.admin_url+'/ajax/post/updatePressTo',{name:'permalinks',values:this.permalinks}).then(
          response => {
            this.process = false;
            toastr.success("Permalinks Updated.");
          },
          error => {
            this.process = false;
            var message = "Unknown Response."
            if(typeof error.response !== 'undefined' && typeof error.response.data !== 'undefined' && typeof error.response.data.message !== 'undefined')
              message = error.response.data.message;
            toastr.error(message);
          }
        );
      },
      getPermalinks(){
        this.process = true;
        axios.post(window.Laravel.admin_url+'/ajax/get/config',{name:'pressto.permalinks'}).then(
          response => {
            this.permalinks = response.data;
            this.process = false;
          }
        );
      },
    }
  }
</script>
