<template>
  <div id="redirects-settings">
    <div class="row">
      <div class="col-md-12">
        <div class="box box-info">
          <div class="box-header with-border">
          </div>
          <div class="box-body">
            <table id="redirect-datatables" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Domain</th>
                  <th>Redirect to</th>
                  <th></th>
                </tr>
              </thead>
            </table>
          </div>
          <div class="overlay" v-if="process"><i class="fa fa-spinner fa-spin"></i></div>
        </div>
      </div>

      <div id="updateRedirect" class="modal modal-primary fade" data-backdrop="static" role="dialog" style="overflow-y:visible;">
        <div class="modal-dialog">
          <div class="modal-content">
            <form class="form-horizontal form-bordered" @submit.prevent="updateRedirect">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" :disabled="process">&times;</button>
                <h4 class="modal-title">Edit Domain Redirect Setting</h4>
              </div>

              <div class="modal-body">
                <div class="form-group">
                  <label class="control-label col-md-3" for="current-id">Domain</label>
                  <div class="col-md-9">
                    <input type="text" id="current-id" class="form-control" v-model="current.id" disabled>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3" for="current-type">Type</label>
    							<div class="col-md-9">
                    <select class="form-control" id="current.type" v-model="current.type">
                      <option value="www">WWW</option>
                      <option value="non_www">NON WWW</option>
                      <option value="page">Specific Page</option>
                      <option value="domain">Other Domain</option>
                    </select>
    							</div>
    						</div>
    						<div class="form-group" v-if="current.type == 'page'">
    							<label class="control-label col-md-3" for="current-page">Page URL</label>
    							<div class="col-md-9">
    								<input type="text" id="current-page" class="form-control" v-model="current.page">
    							</div>
    						</div>
    						<div class="form-group" v-if="current.type == 'domain'">
    							<label class="control-label col-md-3" for="current-domain">Domain</label>
    							<div class="col-md-9">
    								<input type="text" id="current-domain" class="form-control" v-model="current.domain">
    							</div>
    						</div>
    					</div>

    					<div class="modal-footer">
    						<button type="button" class="btn btn-outline pull-left" data-dismiss="modal" :disabled="process">Close</button>
    						<button type="submit" class="btn btn-outline" :disabled="process">
    							<span v-if="process"><i class="fa fa-refresh fa-spin"></i> Updating...</span>
    							<span v-else>Update</span>
    						</button>
    					</div>
    				</form>
    			</div>
    		</div>
    	</div>


    </div>
  </div>
</template>

<script>
  export default {
    data(){
      return {
        dataTables:{},
				current: {},
				process: false,
      }
    },
    mounted(){
      this.loadDataTables();
    },
    methods: {
      updateRedirect(){
        axios.post(window.Laravel.admin_url+'/ajax/post/updateRedirect',this.current).then(
          response => {
            this.process = false;
            toastr.success("Domain Redirect Setting Updated.");
            $("#updateRedirect").modal("hide");
            this.dataTables.ajax.reload();
          },
          error => {
            this.process = false;
            var message = "Unknown Response."
            if(typeof error.response !== 'undefined' && typeof error.response.data !== 'undefined' && typeof error.response.data.message !== 'undefined')
              message = error.response.data.message;
            toastr.error(message);
          }
        );
      },
      loadDataTables(){
        var _this = this;
        this.dataTables = $('#redirect-datatables').DataTable({
          processing:true,
          serverSide:true,
          ajax: {
            url: window.Laravel.admin_url+'/ajax/datatable/redirects',
            type: 'POST',
            headers: { 'X-CSRF-TOKEN': window.csrfToken }
          },
          columns: [
            { data: 'id', name: 'id' },
            {
              className: 'text-center',
              orderable: false,
              searchable: false,
              data: 'type',
              render: function(data, type, row){
                if(data == 'www')
                  return '<span class="label label-success">WWW</span>';
                else if(data == 'non_www')
                  return '<span class="label label-info">NON WWW</span>';
                else if(data == 'page')
                  return '<span class="label label-warning">Specific Page</span>';
                else if(data == 'domain')
                  return '<span class="label label-danger">'+row.domain+'</span>';
                return '';
              }
						},
            {
              data: null,
              render: function(data,type,row){
                var button = '<button type="button" class="btn btn-xs btn-success edit-redirect" title="Edit"><i class="fa fa-edit"></i></button>';
                return button;
              },
              className: 'text-center',
              orderable:false,
              searchable:false
            }
          ],
          initComplete: function(){
            $('#redirect-datatables tbody').on('click', 'td button.edit-redirect', function () {
              var trStats = $(this).closest('tr');
              var rowStats = _this.dataTables.row( trStats );
              var current = rowStats.data();
              _this.current = current;
              $("#updateRedirect").modal();
            });
          }
        });
      }
    }
  }
</script>
