<template>
  <div id="permalinks-settings">
    <div class="row">
      <div class="col-md-12">
        <div class="box box-info">
          <form method="POST" class="form-horizontal" @submit.prevent="updateSitemaps">
            <div class="box-body">
              <div class="form-group">
                <label for="sitemaps-url_per_file" class="col-sm-2 control-label">URL per Page</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control" id="sitemaps-url_per_file" v-model="sitemaps.url_per_file" required>
                </div>
              </div>
              <div class="form-group">
                <label for="sitemaps-main_sitemap" class="col-sm-2 control-label">Main Sitemap</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="sitemaps-main_sitemap" v-model="sitemaps.main_sitemap" required>
                </div>
              </div>
              <div class="form-group">
                <label for="sitemaps-product_sitemap" class="col-sm-2 control-label">Product Sitemap</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="sitemaps-product_sitemap" v-model="sitemaps.product_sitemap" required>
                </div>
              </div>
              <div class="form-group">
                <label for="sitemaps-catalog_sitemap" class="col-sm-2 control-label">Catalog Sitemap</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="sitemaps-catalog_sitemap" v-model="sitemaps.catalog_sitemap" required>
                </div>
              </div>
            </div>
            <div class="box-footer">
              <button type="submit" class="btn btn-info pull-right">Save changes</button>
            </div>
          </form>
          <div class="overlay" v-if="process"><i class="fa fa-spinner fa-spin"></i></div>
        </div>
      </div>


    </div>
  </div>
</template>

<script>
  export default {
    data(){
      return {
        sitemaps: {},
				process: false,
      }
    },
    mounted(){
      this.getSitemaps();
    },
    methods: {
      updateSitemaps(){
        axios.post(window.Laravel.admin_url+'/ajax/post/updatePressTo',{name:'sitemaps',values:this.sitemaps}).then(
          response => {
            this.process = false;
            toastr.success("Permalinks Updated.");
          },
          error => {
            this.process = false;
            var message = "Unknown Response."
            if(typeof error.response !== 'undefined' && typeof error.response.data !== 'undefined' && typeof error.response.data.message !== 'undefined')
              message = error.response.data.message;
            toastr.error(message);
          }
        );
      },
      getSitemaps(){
        this.process = true;
        axios.post(window.Laravel.admin_url+'/ajax/get/config',{name:'pressto.sitemaps'}).then(
          response => {
            this.sitemaps = response.data;
            this.process = false;
          }
        );
      },
    }
  }
</script>
